.header{
    background-color: $color-principal;
    a{
        padding-left:110px; padding-right: 100px;

        .logo{
            text-align: center;
            transition: width 2s, height 2s, transform 3s; width: 100px;
            border-radius: 12px; 
           
        }

        .logo:hover{
            transform: rotate(360deg);
        }
    
    }

     .navbar-nav{

        a:hover{
            padding: 10px;
        }

     }

}
.carousel-item{
    padding: 20px; 
    }
  